@use "./mixins/couleurs";
@use "./mixins/formatecran";
@use "./mixins/text";
@use "./typographie";

:root {
  --size : 10px;
}

/*---------- STYLES GÉNÉRAUX ----------*/

body {
  overflow-x: hidden;
  margin: 0;
}

#accueil {
  width: 100%;
  position: relative;
  top: -150px;
  section {
    margin: 5% 0;
    &.section-center {
      margin: 0 auto;
      max-width: 1500px;
      padding: 20px;
    }
  }
}

#burgerMenu path {
  fill: couleurs.$vertAmande;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.section-center {
  padding: 20px;
}

@media screen and (min-width: formatecran.$version-tablette) {
  .section-center {
    margin: 0 auto;
    max-width: 1500px;
    padding: 20px;
  }
}

.taille {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}