@use "variables";
@use "typographie";
@use "./mixins/couleurs";
@use "./mixins/fonts";
@use "./mixins/formatecran";

.actualite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

