@use "./mixins/couleurs";
@use "./mixins/formatecran";
@use "./mixins/text";
@use "./typographie";

#accueil {
    width: 100%;
    position: relative;
    top: 0;
    section {
        margin: 5% 0;
    }

}