@use "variables";

@font-face {
  font-family: "Nunito";
  src: url(./sources/fonts/Nunito.ttf) format(truetype);
}

@font-face {
  font-family: "Nunito Italic";
  src: url(./sources/fonts/NunitoItallic.ttf) format(truetype);
}

@mixin nunito {
  font-family: "Nunito";
}

@mixin italic {
  font-family: "Nunito Italic";
}

h1 {
  color: variables.$vertAlgue;
  text-transform: uppercase;
}

h2 {
  color: variables.$vertAlgue;
}

h3 {
  color: variables.$vertAmande;
}

h4 {
  color: variables.$argile;
}

h5 {
  color: variables.$encre;
  font-size: 30px;
}

h6 {
  color: variables.$encre;
  font-size: 24px;
}