@use "./mixins/couleurs";
@use "./mixins//text";
@use "./mixins//liens";


h1 {
  color: couleur.$vertAlgue;
  text-transform: uppercase;
}

h2 {
  color: couleur.$vertAlgue;
}

h3 {
  color: couleur.$vertAmande;
}

h4 {
  color: couleur.$argile;
}

h5 {
  color: couleur.$encre;
  font-size: 30px;
}

h6 {
  color: couleur.$encre;
  font-size: 24px;
}

p{
  @include text.text;
  color: couleur.$vertAlgue;
}