@use "./mixins/couleurs";
@use "./mixins/text";
@use "./mixins/lien";


h1 {
  color: couleurs.$vertAlgue;
  text-transform: uppercase;
}

h2 {
  color: couleurs.$vertAlgue;
}

h3 {
  color: couleurs.$vertAmande;
}

h4 {
  color: couleurs.$argile;
}

h5 {
  color: couleurs.$encre;
  font-size: 30px;
}

h6 {
  color: couleurs.$encre;
  font-size: 24px;
}

p{
  @include text.text;
  color: couleurs.$vertAlgue;
}