@use "./mixins/couleurs";
@use "./mixins/formatecran";

body {
  background-color: couleurs.$argile;
  display: grid;

}



@media (min-width: formatecran.$version-mobile) {
  body {
    min-width: formatecran.$version-mobile;
  }
}

@media (min-width: formatecran.$version-tablette) {
  body {
    min-width: formatecran.$version-tablette;
  }
}

@media (min-width: formatecran.$version-ordinateur) {
  body {
    min-width: formatecran.$version-ordinateur;
  }
}
