@use "variables";
@use "typographie";
@use "./mixins/couleurs";
@use "./mixins/fonts";
@use "./mixins/text";
@use "./mixins/lien";
@use "./mixins/formatecran";
@use "sass:color";

/*-------------------------------------*/
/* ----- LABEL STYLES ----- */
/*-------------------------------------*/
label {
  /* Bloc Label */
  font-size: 1rem; /* Taille de la police */
  color: couleurs.$encre; /* Couleur du texte */
}

/*-------------------------------------*/
/* ----- SORT ORDER STYLES ----- */
/*-------------------------------------*/
#sortOrder {
  /* Bloc Sélecteur de Tri */
  padding: 8px; /* Espacement interne */
  font-size: 1rem; /* Taille de la police */
  margin-bottom: 20px; /* Espacement inférieur */
  border-radius: 20px; /* Coins arrondis */
  border: solid 2px couleurs.$vertAmande; /* Bordure */
  color: couleurs.$vertAmande; /* Couleur du texte */
  appearance: none; /* Supprime le style par défaut */
}

#sortOrder:focus {
  /* État au focus du Sélecteur de Tri */
  outline: none; /* Supprime le contour par défaut */
  border-color: couleurs.$vertAmande; /* Change la couleur de la bordure */
}

#sortOrder:active {
  /* État actif du Sélecteur de Tri */
  border-color: couleurs.$vertAmande; /* Change la couleur de la bordure */
}

/*-------------------------------------*/
/* ----- LOAD MORE BUTTON STYLES ----- */
/*-------------------------------------*/
#loadMoreBtn {
  /* Bloc Bouton "Charger Plus" */
  display: block !important; /* Affichage en bloc */
  margin-top: 20px; /* Espacement supérieur */
}

/*-------------------------------------*/
/* ----- FIRST ARTICLE STYLES ----- */
/*-------------------------------------*/
.first-article {
  /* Bloc Premier Article */
  box-shadow: 0 0 5px rgb(108, 138, 100); /* Ombre portée */
  border-radius: 10px; /* Coins arrondis */
  padding: 30px; /* Espacement interne */
  padding-top: 0; /* Espacement supérieur nul */
}

/*-------------------------------------*/
/* ----- FILTER CONTAINER STYLES ----- */
/*-------------------------------------*/
.container-flitre {
  /* Bloc Conteneur de Filtrage */
  display: flex; /* Flexbox pour mise en page */
  justify-content: flex-end; /* Aligne à droite */
}

/*-------------------------------------*/
/* ----- ADDITIONAL INFO STYLES ----- */
/*-------------------------------------*/
.plus-info {
  /* Bloc Informations Supplémentaires */
  margin-bottom: 50px; /* Espacement inférieur */
}

/*-------------------------------------*/
/* ----- NEWS SECTION STYLES ----- */
/*-------------------------------------*/
.section-actualite {
  /* Bloc Section Actualités */
  margin-top: 20px; /* Espacement supérieur */
}
