@use "variables";
@use "typographie";
@use "./mixins/couleurs";
@use "./mixins/fonts";
@use "./mixins/text";
@use "./mixins/lien";
@use "./mixins/formatecran";
@use "sass:color";
/*------------------------------------------------------------------*/

/*----- SECTION PDF ---*/

/*------------------------------------------------------------------*/

.pdf-logo {
  width: 50px;
  height: 50px;
  fill: couleurs.$vertAmande;
  margin-right: 15px;
}

/*------------------------------------------------------------------*/

/*----- SECTION HERO ORDINATEUR ---*/

/*------------------------------------------------------------------*/

.container-hero {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: absolute;
  width: 90vw;
  height: 100vh;

  .slides {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

    &:nth-child(1),
    &:nth-child(2) {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(0);
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
      background-size: cover;
    }

    &:nth-child(3) {
      left: calc(50% + 300px);
      background-size: cover;
    }

    &:nth-child(4) {
      left: calc(50% + 600px);
      background-size: cover;
    }

    &:nth-child(5) {
      left: calc(50% + 900px);
      background-size: cover;
    }
  }
}

.buttons-heros {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 50px;

  span {
    width: 80px;
    height: 80px;
    background: couleurs.$vertAmande;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    &:active {
      opacity: 0.7;
    }

    &.prev::before,
    &.next::before {
      content: "";
      width: 20px;
      height: 20px;
      border-top: 4px solid couleurs.$argile;
      border-left: 4px solid couleurs.$argile;
      position: absolute;
    }

    &.prev::before {
      transform: rotate(315deg) translate(2px, 2px); // Left arrow
    }

    &.next::before {
      transform: rotate(135deg) translate(2px, 2px); // Right arrow
    }
  }
}

.section-about {
  margin-top: 20px;

  .texte {
    margin-bottom: 50px;
  }
}

/*------------------------------------------------------------------*/

/*----- FIN SECTION HERO ORDINATEUR ---*/

/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/

/*----- DÉBUT SECTION HERO TABLETTE ---*/

/*------------------------------------------------------------------*/

@media (max-width: formatecran.$version-tablette) {
  .slider {
    .slides {
      width: 150px;
      height: 150px;
      top: initial;
      bottom: 15vh;
      z-index: 132;

      &:nth-child(1),
      &:nth-child(2) {
        top: initial;
        bottom: 0px;
      }

      &:nth-child(3) {
        left: 150px;
      }

      &:nth-child(4) {
        left: 320px;
      }

      &:nth-child(5) {
        left: 490px;
      }
    }
  }

  .buttons-heros {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 20px;
    z-index: 500;

    span {
      width: 60px;
      height: 60px;
    }

    .prev::before,
    .next::before {
      content: "";
      width: 15px;
      height: 15px;
    }
  }
}

/*------------------------------------------------------------------*/

/*----- FIN SECTION HERO TABLETTE ---*/

/*------------------------------------------------------------------*/
