@use "variables";
@use "typographie";
@use "./mixins/couleurs";
@use "./mixins/fonts";
@use "./mixins/formatecran";

/* ----- STYLE PAGE 404 ----- */

#erreur {
  margin-bottom: 10%;
}

.erreur {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  align-items: center;

  & .erreur__anim {
    justify-self: center;
    height: 329px;
    width: 329px;
    animation-name: maison;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: steps(96, end);
  }
}


//32768px

@keyframes maison {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -32768px 0;
  }
}

@media screen and (min-width: formatecran.$version-tablette) {
  .erreur {
    grid-template-columns: 1fr 1fr;
  }
}