@use "variables";
@use "typographie";
@use "./mixins/couleurs";
@use "./mixins/fonts";
@use "./mixins/text";
@use "./mixins/lien";
@use "./mixins/formatecran";
@use "sass:color";

label {
  font-size: 1rem;
  color: couleurs.$encre;
}

#sortOrder {
  padding: 8px;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 20px;
  border: solid 2px couleurs.$vertAmande;
  color: couleurs.$vertAmande;
  appearance: none;
}

#sortOrder:focus {
  outline: none;
  border-color: couleurs.$vertAmande;
}

#sortOrder:active {
  border-color: couleurs.$vertAmande;
}

#loadMoreBtn {
  display: block !important;
  margin-top: 20px;
}

.first-article {
  box-shadow: 0 0 5px rgb(108, 138, 100);
  border-radius: 10px;
  padding: 30px;
  padding-top: 0;
}

.container-flitre {
  display: flex;
  justify-content: flex-end;
}

.plus-info {
  margin-bottom: 50px;
}

.section-actualite {
  margin-top: 20px;
}
