@font-face {
    font-family: "Nunito";
    src: url(./sources/fonts/Nunito.ttf) format(truetype);
  }
  
  @font-face {
    font-family: "Nunito Italic";
    src: url(./sources/fonts/NunitoItallic.ttf) format(truetype);
  }
  
  @mixin nunito {
    font-family: "Nunito";
  }
  
  @mixin italic {
    font-family: "Nunito Italic";
  }