@use "./fonts";

@mixin lien {
  @include italic;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-color: variables.$vertAmande;
  }
}

@mixin lien-pdf {
  @include italic;
  font-weight: bold;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: variables.$vertAmande;
}

@mixin lien-nav {
  @include nunito;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  &:focus {
    color: variables.$vertAmande;
  }
}
