@use "fonts";
@use "couleurs";

@mixin lien {
  @include italic;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-color: couleurs.$vertAmande;
  }
}

@mixin lien-pdf {
  @include italic;
  font-weight: bold;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: couleurs.$vertAmande;
}

@mixin lien-nav {
  @include fonts.nunito;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: couleurs.$vertAlgue;
  &:focus {
    color: couleurs.$baguette;
  }
}
