@use "./fonts";

@mixin text {
  @include typographie.nunito;
  font-size: 24px;
  text-transform: capitalize;
}

@mixin text-header {
  @include typographie.nunito;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
}

@mixin text-bannier-scholaire {
  @include typographie.nunito;
  font-weight: bolder;
  font-size: 24px;
  text-transform: capitalize;
}
