@use "../typographie";
@use "../variables";

@mixin lien {
  @include italic;
  font-weight: bold;
  color: variables.$vertAmande;
  font-size: 16px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-color: variables.$vertAmande;
  }
}

@mixin lien-pdf {
  @include italic;
  font-weight: bold;
  color: variables.$vertAmande;
  font-size: 24px;
  text-decoration: underline;
  text-decoration-color: variables.$vertAmande;
}

@mixin lien-nav {
  @include nunito;
  color: variables.$vertAlgue;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  &:focus {
    color: variables.$vertAmande;
  }
}
